[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/themes/paper"]
	path = themes/themes/paper
	url = git@github.com:nanxiaobei/hugo-paper.git
