{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-24">{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := .Data.Terms }}<!---->

<!-- Articles -->
{{ range .Pages | first 5 }}
<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
    <h2 class="!my-0 pb-1 !leading-none">{{ .Title }}</h2>
    <time class="text-sm opacity-50"
    >{{ .Date | time.Format ":date_medium" }}
    </time
    >
    <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
</section>
{{ end }}


{{ end }}